.left-menu {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
  }
  .job-advertisement-list {
    display: flex;
    align-items: flex-start;
  }

  .job-advert-detail {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    


  }

  