.left-menu {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /* Diğer stil özellikleri */
  }
  .job-advertisement-list {
    display: flex;
    align-items: flex-start;
  }
  